*.log
simply-modules/simply-core/target/
simply-modules/simply-iqrf/target/
simply-modules/simply-asynchrony/target/
simply-modules/simply-iqrf-dpa-v22x/target/
simply-modules/simply-iqrf-dpa-v22x-examples/target/
simply-modules/simply-iqrf-dpa/target/
simply-modules/simply-network-serial-v2/target/
simply-modules/simply-network-spi/target/
simply-modules/simply-network-udp/target/
simply-modules/simply-network-usbcdc/target/
simply-modules/simply-services/target/
simply-modules/simply-demos/auto-network/target/
simply-modules/simply-demos/open-gateway/target/
simply-modules/simply-web-services/

/simply-modules/simply-iqrf-dpa-v22x/nbproject/
/simply-modules/simply-compound_devices/target/
/simply-modules/simply-compound_devices/nbproject/
/simply-modules/simply-compounddevices/target/
/simply-modules/simply-devices/simply-devices-protronix-dpa22x/target/